<%- include('includes/header.ejs') %>
</head>

<body>
    <h1>Page Not Found!</h1>
    <img src="https://cdn.searchenginejournal.com/wp-content/uploads/2017/08/25-Outstanding-404-Page-Examples-You-Have-to-See-760x400.png" alt="">

<%- include('includes/footer.ejs') %>