<%- include('includes/header.ejs') %>
<title><%= pageTitle %></title>
</head>
<body>
  <%- include('includes/nav.ejs')%>
  <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum voluptatum quae obcaecati quibusdam vel facere
    repellendus quod aliquam officia accusantium, officiis fuga eligendi vitae iste voluptates sequi corrupti harum et.
  </h1>
  <%- include('includes/footer.ejs') %>