
  <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.5
      </div>
      <strong>Copyright &copy; <%-currentYear%> <a href="https://playtubevideo.com/" target="_blank">PlayTubeVideo</a>.</strong> All rights
      reserved.
    </footer>
  
  
  </div>
  <!-- ./wrapper -->
  <script type="application/javascript">
  $(document).ajaxStart(function() { Pace.restart(); }); 
  $(document).ajaxComplete(function(){
    Pace.stop();
  });
  </script>
  </body>
  </html>
  